In [14]:
all([0])

False

In [29]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if x < 18:
    return False
  else:
    return True

adults = filter(myFunc, ages)

for x in adults:
  print(x)

18
24
32

In [4]:
listA=['SUZAN', 'TOM', False, 0, 22]
filtered_list=filter(None, listA)
print("The filtered elements are:")
for i in filtered_list:
    print(i)

The filtered elements are:
SUZAN
TOM
22

In [18]:
bool('none')

True

In [26]:
x = ('apple', 'banana', 'cherry')
y = enumerate(x)
z =dict(y)
z

{0: 'apple', 1: 'banana', 2: 'cherry'}

In [27]:
x = ('apple', 'banana', 'cherry')
y = enumerate(x)
z =list(y)
z

[(0, 'apple'), (1, 'banana'), (2, 'cherry')]

In [28]:
x = ('apple', 'banana', 'cherry')
y = enumerate(x)
z =tuple(y)
z

((0, 'apple'), (1, 'banana'), (2, 'cherry'))

In [7]:
#max(iterable), min(iterable)
max('Ahmet') # ASCII karşılığını verir
min('Ahmet')

'A'

In [11]:
numbers = [2.5, 30, 4, -15]
summ= sum(numbers)
summ

21.5

In [12]:
numbers = [2.5, 30, 4, -15]
summ= sum(numbers, 20)
summ

41.5

In [13]:
def f_f(arg1, arg2):
    print(arg1**2 + arg2**2)

In [15]:
f_f(3,4)

25

In [20]:
def multip(a, b):
    print(a*b)

In [24]:
multip(3,2)
multip ('a',3)

6
aaa

In [21]:
def hipotenus(a,b):
    print((a**2 + b**2)**0.5)

In [22]:
hipotenus(3,4)

5.0

In [31]:
def add(a,b):
    print(a+b)

In [32]:
add(3, 5)

8

In [46]:
def cal(a,b,c):
    if c=='+':
        print(a+b)
    if c=='-':
        print(a-b)
    if c=='*':
        print(a*b)
    if c=='/':
        print(a/b)
    else:
        print('invalid')

In [45]:
cal(88,22,'9')

invalid

In [47]:
cal(44,2,'/')

22.0

In [49]:
def top(x, y):
    return x+y

In [51]:
top(3,5)

8

In [53]:
type(top(3,5))

int

In [54]:
def string():
    return 'alivelideli'

In [55]:
string()

'alivelideli'

In [57]:
type(string())

str

In [59]:
def boolean():
    return True

In [61]:
x=boolean()
x

True

In [ ]:
def listem

In [63]:
def cal(a,b,c):
    if c=='+':
        return a+b
    if c=='-':
        return a-b
    if c=='*':
        return a*b
    if c=='/':
        return a/b
    else:
        return 'invalid'

In [64]:
cal (3,4,'-')

-1

In [80]:
def abs_val (a):
    if a<0:
        return a*(-1)
    if a>=0:
        return a

In [81]:
print(abs_val(3.3))

3.3

In [85]:
def abs_val (a):
    ''' This function returns the absolute value of given number'''
    if a<0:
        return -a
    if a>=0:
        return a

In [86]:
print(abs_val(-3.3))

3.3

In [87]:
print(abs_val.__doc__)

 This function returns the absolute value of given number

In [88]:
print(abs.__doc__)

Return the absolute value of the argument.

In [91]:
def texter(x, y, z):
    print(y,z,x )

In [92]:
a ='I'
b='love'
c='you'
texter (c,a,b)

I love you