In [5]:
name = (input('Enter your name please : '))
if name == 'Aziz':
    print("Hello, Aziz! The password is : W@12")
else:
    print(f"Hello, {name}, See you later.")

Enter your name please : aziz
Hello, aziz, See you later.

In [10]:
passcode = {"Name" : "Akif", "Passcode" : "123qweASD"}
print(passcode["Passcode"])

123qweASD

In [15]:
age = input('Are you a cigarette addict older than 75 years old? :')
if age == 'Yes':
   print('True')
else:
    print('False')

Are you a cigarette addict older than 75 years old? :No
False

In [17]:
name = list(range(10))
name

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']

city_tuple = tuple(city_list)
city_list

['Tokyo', 'Istanbul', 'Moskow', 'Dublin']

In [26]:
x = city_list.index('Istanbul')
x

1

In [27]:
print(0xA + 0xB + 0xC)

33

In [28]:
print("abcd"[2:])

cd

In [29]:
str1 = "hello"
str2 = ","
str3 = "world"
print(str1[-1:])
str1 = "world"

o

In [30]:
print(r"\nhello")

\nhello

In [31]:
print("new" "line")

newline

In [32]:
print(3)

3

In [36]:
print("new""line""end")

newlineend

In [37]:
print("new" "line" "end", 3)

newlineend 3

In [38]:

str1 = "clarsuway"
print(str1[::-1])

yawusralc

In [53]:
nums = [1,2,3,4]
nums
nums.pop()
nums

[1, 2, 3]

In [61]:
nums = [1,2,3,4]
nums
nums.extend(['hello', 'aziz'])
nums

[1, 2, 3, 4, 'hello', 'aziz']

In [62]:
nums = [1,2,3,4]
nums
nums.append(5)
nums
nums.append('hello')
nums

[1, 2, 3, 4, 5, 'hello']

In [64]:
nums = [2,3,4]
nums.insert(0,1)
nums

[1, 2, 3, 4]

In [66]:
nums = [2,3,4]
nums.insert(0,'two and half')
nums

['two and half', 2, 3, 4]

In [72]:
plist = list("Don't Panic!")
plist
plist.remove("'")
plist

['D', 'o', 'n', 't', ' ', 'P', 'a', 'n', 'i', 'c', '!']

In [88]:
plist = "Don't panic!"
a = list(plist)
del a[3]
del a[-1]
del a[0]
del a[4:7]
a.extend(["p", "a", "n", "D"])
b = a[6:10]
b.append('a')
b = ' '.join(b)
print(b)

p a n D a

In [121]:
tuple1 = (31,24,35,85)
list1 = tuple1

(31, 24, 35, 85)