In [1]:
e_mail = 'joseph@clarusway.com' # surrounded with single quotes
print(e_mail)

joseph@clarusway.com

In [2]:
example1 = "sometimes what you say is less important than how you sat it"
print(example1)

sometimes what you say is less important than how you sat it

In [3]:
print(type(example1))

<class 'str'>

In [4]:
example2 = '72'
print (type(example2))

<class 'str'>

In [5]:
example3 = 73
print (type(example3))

<class 'int'>

In [8]:
example4 = 74.0
print (type(example4))

<class 'float'>

In [9]:
ex5 = 3.14j
print (type(ex5))

<class 'complex'>

In [12]:
ex6 = True
print (type(ex6))

<class 'bool'>

In [13]:
f = 3.14
s = str (f)
print (type(s))

<class 'str'>

In [14]:
print (s)

3.14

In [15]:
f = 3.14
i = int (f)
print (i, '\n')

3

In [16]:
f = 3.14
i = int (f)
print (i, '\n')
print(type(i))

3

<class 'int'>

In [17]:
i = 3

f=float(i)
print(f, '\n')
print(type(f))

3.0

<class 'float'>

In [21]:
x = 39
v = '11'
y = "2.5"
z = "Iam at_"

print (x-int(v))
print (x-float(y))
print (z+str(x))

28
36.5
Iam at_39

In [24]:
pi = 3.14
converted_pi = int(pi)
print(converted_pi)

3

In [25]:
print(4+11)

15

In [26]:
print(39+4.0)

43.0

In [27]:
no1 ,no2 = 46, 52
no3 = no1 - no2
print (no3)

-6

In [28]:
no1 = 46
print (no1/23) # division gives float

2.0

In [29]:
print ((3 * 4)/2 # parentheses are used as in normal mathematics operations

6.0

In [30]:
print (7//2) # it gives integer part of division

3

In [31]:
print (9 % 2) # remainder of this division is 1
# it means 9 is an odd number

1

In [32]:
print (3**2)

9

In [33]:
print(64**0.5)

8.0

In [35]:
number = 2020
text = 'childeren deserve respect as much as adults in'
print (text, number)

childeren deserve respect as much as adults in 2020

In [37]:
print ("yesterday I ate", 2, "apples")

yesterday I ate 2 apples

In [41]:
print('i', end=' ')
print('will say', end=' ')
print("i missed you", end=' ')
print('to my mother')

i will say i missed you to my mother

In [42]:
print('i')
print('will say')
print("i missed you")
print('to my mother')

i
will say
i missed you
to my mother

In [44]:
print('i')
print('will say')
print("i missed you")
print('to my mother')

i
will say
i missed you
to my mother

In [47]:
print ('smoking', 'kill', 'you', 'slowly', sep='    +    ')

smoking    +    kill    +    you    +    slowly

In [49]:
x = 5
print ('value of x  :', x)

x += 2
print ("2 more of x  :", x, "\n")

value of x  : 5
2 more of x  : 7

In [51]:
y = 10
print ('value of y       : ', y)

y -= 2
print ("2 minus y        : ", y, "\n")

value of y       :  10
2 minus y        :  8

In [52]:
x = 5
print ('value of x  :', x)

x += 2
print ("2 more of x  :", x, "\n")

y = 10
print ('value of y       : ', y)

y -= 2
print ("2 minus y        : ", y, "\n")

z = 6
print ('value of z  :', z)
z *=2
print ("2 times z :", z, "\n")

value of x  : 5
2 more of x  : 7

value of y       :  10
2 minus y        :  8

value of z  : 6
2 times z : 12

In [60]:
x=9
x //=3
print(x)

3

In [61]:
print ('C:\\november\number_expenditure.txt')

C:\november
umber_expenditure.txt

In [62]:
print ("one", "two", "three", sep="\t")

one	two	three

In [64]:
print('we', '\bare', '\bunited')

we are united

In [75]:
print('a\'ziz')

a'ziz

In [76]:
print('a\'ziz')

a'ziz

In [77]:
print('a\'ziz')

a'ziz

In [78]:
logic = True and False or not False or False
print(logic)

True

In [79]:
print (2 and 3)

3

In [80]:
print(2 or 3)

2

In [82]:
print(0 and " " and [ ])

0

In [85]:
print(2 or 3)

2

In [86]:
print (1 and 0)

0

In [87]:
print (1 and "I am do,ng good!")

I am do,ng good!

In [88]:
print ([] and "hello")

[]

In [89]:
print (2 or 3)

2

In [91]:
print(None or 1)

1

In [97]:
fruit = 'Orange'

print ('Word    : ', fruit)
print ('First Letter :', fruit [0])
print ('Second Letter : ', fruit[1])
print ("3rd to 5rd Letter:", fruit[2:5])
print("Letter all after 3rd:", fruit[2:])

Word    :  Orange
First Letter : O
Second Letter :  r
3rd to 5rd Letter: ang
Letter all after 3rd: ange

In [105]:
city = 'Phoenix'
print(city[1:])
print(city[:6])
print(city[::2])
print(city[1::2])
print(city[-3:])
print(city[::-1])

hoenix
Phoeni
Ponx
hei
nix
xineohP

In [107]:
vegetable='Tomato'

print('lenght of the word', vegetable, 'is :', len(vegetable))

lenght of the word Tomato is : 6

In [108]:
print ('clarus'+'way')

clarusway

In [113]:
print (3 * 'no way!,', sep=' ')

no way!,no way!,no way!,

In [115]:
fruit = 'Orange'
vegetable = 'Tomato'
print ("using + :", fruit + vegetable)
print ("using * :", 3* fruit)

using + : OrangeTomato
using * : OrangeOrangeOrange

In [117]:
fruit = 'orange'
fruit += 'apple'
print(fruit)

orangeapple

In [120]:
phrase = 'I have %d %s and %.2f brothers' % (4, "children" , 5)
print (phrase)

I have 4 children and 5.00 brothers

In [121]:
sentence = "apologizing is a virtue"
print ("%.11s" % sentence)

apologizing

In [124]:
print('%(amount)d pounds of %(fruit)s left' % {'amount':33, 'fruit':'bananas'})

33 pounds of bananas left

In [125]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 4
print ('The amount of {} we bought is {} pounds'.format(fruit,amount))

The amount of Orange we bought is 4 pounds

In [127]:
print ('{state} is the most {adjective} state of the {country}' .format (state='cf', country = 'usa', adjective='crowded'))

cf is the most crowded state of the usa

In [130]:
print ("{9} {7} {1} {10} {3} {2} {5} {8} {6} {0} {4}" .format ('in', 'know', 'bring', 'to', 'students.', 'out', 'best', 'teachers', 'the', 'Good', 'how'))

Good teachers know how to bring out the best in students.

In [132]:
print ("{9} {7} {1} {10} {3} {2} {5} {8} {6} {0} {4}" .format ('in', 'know', 'bring', 'to', 'students.', 'out', 'best', 'teachers', 'the', 'Good', 'how'))

Good teachers know how to bring out the best in students.

In [133]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 6
output = f"The amount of {fruit} and {vegetable} we bought are totally {amount} pounds"
print(output)

The amount of Orange and Tomato we bought are totally 6 pounds

In [137]:
result = f"{4 * 5}"
print(result)

20

In [139]:
my_name= 'Joseph'
output = f"My name is {my_name.capitalize()}"

print(output)

My name is Joseph

In [141]:
text = 'www.clarusway.com'
print (text.endswith('.com'))
print (text.startswith('http:'))

True
False

In [142]:
print('www', 'clarusway', "com", sep='.', end=' ')
print('will', end=' ')
print('open', end=' ')
print('your', end=' ')
print('path', end='.')

www.clarusway.com will open your path.

In [144]:
print("clarusway" + "2020")

clarusway2020

In [145]:
print("clarusway" + str(2020))

clarusway2020